<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>TITLE</title>
    <link rel="stylesheet" href="{{ static_url('main.css') }}" type="text/css"/>
  </head>
  <body>
    <header>
      HEADER
    </header>

    <div id="body">
      <div id="content">
          {% block body %}{% end %}
      </div>
    </div>

    <footer>
        FOOTER
    </footer>

    {% module XSRFInput() %}

    <script src="{{ static_url('zepto.min.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('main.js') }}" type="text/javascript"></script>
  </body>
</html>